.faq-page-wrapper
      nav
        .left-flex
          a(href="index.html")
            img(src="https://static1.squarespace.com/static/581a8643f5e231eb1616cb12/t/587d63a703596e8775ca8aa3/1509124678751/?format=1500w")
          a.help-center-link(href="index.html") Documentation
        //- a.nav-btn(href="#")
        //-   span
        //- ul.navigation-items
        //-   li
        //-     a(href="faq.html") FAQ
        //-   li
        //-     a(href="documentation.html") Documentation
        //-   li
        //-     a(href="training.html") Training
        //-   li
        //-     a(href="stories.html") Success Stories
        //-   li
        //-     a(target="_blank" href="https://www.legworkprm.com/contact/") Contact
      .faq-header
        h1 Fast Fill
        h3 Instructions and supported drivers 
      .category-page  
        .faq-content-container
          .category-nav-wrapper
            .category-nav
                h4.category-title-heading Categories
                .more-less-btn
                  span
            ul.category-nav-list
              li
                a.active.category-links(href="#training-video") Training Video
              li
                a.category-links(href="#using-legwork-category") Sending an Appointment Request
              li
                a.category-links(href="#patient-communications-category") Viewing ASAP/Short Notice List
              li
                a.category-links(href="#todo-lists-category") Driver Support
          .categories
            ul
              li#training-video.target
                .category-title
                  h2 Training Video
                ul.faq-list
                  .resp-container
                    iframe.resp-iframe(src='https://player.vimeo.com/video/320375530', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
              li#using-legwork-category.target
                .category-title 
                  h2 Sending an Appointment Request
                ul.faq-list
                  li 1. Navigate to the To-Do Lists Tab
                  li 2. Click 
                    span.bold Fast Fill
                    |  in the side navigation.
                  img(src="https://github.com/aloomer/feature-documentation/blob/master/img/fast-fill-dash.png?raw=true")
                  li 3. Select the date and time of the appointment you wish to fill and click 
                    span.bold Fill Appointment
                    | . A modal window will appear, containing options to edit your message
                  img(src="https://github.com/aloomer/feature-documentation/blob/master/img/message-patients.png?raw=true")
                  li 4. Select your preferred message delivery type.
                  li 5. If you wish to manually select recipients, click 
                    span.bold Choose who receives this message
                    | , edit your recipients, and click 
                    span.bold Continue
                  img(src="https://github.com/aloomer/feature-documentation/blob/master/img/select-recipients.png?raw=true")
                  li 6. Edit any template related information and click 
                    span.bold Send
                  p.documentation-note
                    span.bold #Note: 
                    | Your message blast will enter a queued state for 5 minutes, in case you need to cancel the message from sending.  After which, your appointment request will be sent.
                  img(src="https://github.com/aloomer/feature-documentation/blob/master/img/message-sent.png?raw=true")
                  li When a patient accepts the appointment time, the appointment detail card will be tagged as "Ready for Booking"
                  p.documentation-note
                    span.bold #Note: 
                    | All other message recipients will be notified that the appointment time has been filled.
                  img(src="https://github.com/aloomer/feature-documentation/blob/master/img/ready-for-booking-tag.png?raw=true")
                  li Click 
                    span.bold View Info
                    | in the corresponding appointment detail card.  A modal will appear with the patient information necessary to book the appointment in your practice management software.
                  img(src="https://github.com/aloomer/feature-documentation/blob/master/img/ready-for-booking-info.png?raw=true")
              li#patient-communications-category.target
                .category-title
                  h2 Viewing ASAP/Short Notice List
                ul.faq-list
                  li 1. Navigate to the Reports Tab.
                  li 2. Click 
                    span.bold ASAP List 
                    | in the side navigation.  A list of ASAP or Short Notice contacts will appear: these contacts are synced from your PMS.
                  img(src="https://github.com/aloomer/feature-documentation/blob/master/img/reports.png?raw=true")
              li#todo-lists-category.target
                .category-title
                  h2 Driver Support
                ul.faq-list.driver-support
                  li 
                    i.fas.fa-check 
                    |  AbelDent
                  li 
                    i.fas.fa-check 
                    |  ClearDent
                  li 
                    i.fas.fa-check 
                    |  Daisy
                  li 
                    i.fas.fa-check 
                    |  Denticon
                  li 
                    i.fas.fa-check 
                    |  Dentrix G4
                  li 
                    i.fas.fa-check 
                    |  Dentrix G5+
                  li 
                    i.fas.fa-check 
                    |  Dolphin
                  li 
                    i.fas.fa-check 
                    |  DSN 11
                  li 
                    i.fas.fa-check 
                    |  DSN 14+
                  li 
                    i.fas.fa-check 
                    |  EagleSoft 14
                  li 
                    i.fas.fa-check 
                    |  EagleSoft 16-18
                  li 
                    i.fas.fa-check 
                    |  EagleSoft 19
                  li 
                    i.fas.fa-check 
                    |  EagleSoft 20
                  li 
                    i.fas.fa-check 
                    |  Easy Dental
                  li 
                    i.fas.fa-check 
                    |  FPC
                  li 
                    i.fas.fa-check 
                    |  LiveDDM
                  li 
                    i.fas.fa-check 
                    |  Open Dental
                  li 
                    i.fas.fa-check 
                    |  Ortho2
                  li 
                    i.fas.fa-check 
                    |  Power Practice
                  li 
                    i.fas.fa-check 
                    |  PracticeWeb(od)
                  li 
                    i.fas.fa-check 
                    |  PracticeWorks 7.7
                  li 
                    i.fas.fa-check 
                    |  SoftDent 14+
                  li 
                    i.fas.fa-check 
                    |  SuzyDental
                  li 
                    i.fas.fa-check 
                    |  Tracker
                  li 
                    i.fas.fa-check 
                    |  XL Dental
                ul.faq-list.driver-support
                  li 
                    i.fas.fa-times 
                    |  Cloud9 Ortho
                  li 
                    i.fas.fa-times 
                    |  Curve
                  li 
                    i.fas.fa-times 
                    |  Dental Mate
                  li 
                    i.fas.fa-times 
                    |  Dental Vision
                  li 
                    i.fas.fa-times 
                    |  Dentrix G1
                  li 
                    i.fas.fa-times 
                    |  Genesis
                  li 
                    i.fas.fa-times 
                    |  OcsDental
                  li 
                    i.fas.fa-times 
                    |  OMS Vision
                  li 
                    i.fas.fa-times 
                    |  OrthoTrac
                  li 
                    i.fas.fa-times 
                    |  WinOMS